img {
    height: 200px;
    width:300px;
}

body {
    
    background-color:  #3333cc;
    border: 10px solid transparent;
    color: white;
}

h1 {
    text-align: center;
}

h2 {
    text-decoration: underline;
  }

p {
    
    font-style: italic;
    text-indent: 50px;
    font-size: 15px;
    
}


  table {
    border-collapse: separate;
    border-spacing: 50px 0;
  }
  